.firstDivEl-position{
    display: flex;
    margin: 18px 100px;
    justify-content: center;
    align-items: center;
}

.secondDivEl-position{
    display: flex;
    flex-direction: column;
    margin: 30px 85px;
    justify-content: center;
}

.secondDivEl-border{
    display: flex;
    justify-content: space-around;
    margin: 20px 100px 20px 100px;
    border: 1px solid black;
}

.tripleH5El-position{
    display: flex;
    padding: 5px;
    margin: 0px;
    width: 40px;
}

.tripleDiv-border{
    border: 10px solid hsl(250 100% 85%);
}

.text-center{
    justify-content: center;
}

.text-end{
    justify-content: end;
}





